* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #dedede;
    font-family: 'Helvetica', arial, sans-serif;
}

.container {
    max-width: 1080px;
    margin: 10px auto;
    background: #fff;
    padding: 5px;
}

.header, .footer {
    border: 1px solid #dedede;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

/* Tampilan Desktop */
.left {
    width: 250px;
    background: #ffed00 !important; /* Kuning Paksa */
    border: 1px solid #dedede;
    padding: 15px;
    margin: 10px;
    float: left;
}

.middle {
    width: 500px;
    border: 1px solid #dedede;
    padding: 15px;
    margin: 10px;
    float: left;
}

.right {
    width: 250px;
    border: 1px solid #dedede;
    padding: 15px;
    margin: 10px;
    float: left;
}

.middle img {
    max-width: 100%;
    height: auto;
}

/* Tampilan HP (WAJIB ADA) */
@media screen and (max-width: 768px) {
    .left, .middle, .right {
        width: calc(100% - 20px) !important; /* Lebar penuh paksa */
        float: none !important;             /* Hilangkan float paksa */
        display: block !important;
        margin: 10px auto !important;
    }
    
    .left {
        background: #ffed00 !important; /* Pastikan tetap kuning di HP */
    }
}